<div class="contact">
    <div class="container ">
        <h1 class="title"> Send us your feedbacks!</h1>
        <div class="grid-container">
            <div class="form-container">
                <h3 class="subtitle">Fill up the form completely!</h3>
                <form>
                    <input type="text" class="input-name border-customized-input border-removed-input" id="name" name="name" placeholder="Complete Name" required><br>
                    <input type="text" class="input-email border-customized-input border-removed-input" id="email" name="email" placeholder="Email" required><br>
                    <textarea type="textfield" class="input-message border-customized-input border-removed-input" id="message" name="message" placeholder="Message.." required></textarea>
                </form>
                <button type="button" class="button">Send</button>
            </div>
            <div class="vline"></div>
            <div class="ownerMessage">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a nulla in lacus consectetur congue. Fusce fringilla congue sapien, ut vehicula tortor hendrerit in. In et lectus dui. Fusce sit amet posuere diam, nec tincidunt justo. Duis ut tincidunt ipsum. Pellentesque lobortis facilisis ullamcorper. </p>
            </div>
        </div>
    </div>
</div>