<div class="contact">
    <div class="container">
        <h1 class="title d-flex justify-content-center"> Send us your feedbacks!</h1>
        <div class="grid-container">
            <div class="form-container">
                <h3 class="subtitle">Fill up the form completely!</h3>
                <form class="d-flex flex-column">
                    <input type="text" class="input-name border-customized-input border-removed-input" id="name" name="name" placeholder="Complete Name" required><br>
                    <input type="text" class="input-email border-customized-input border-removed-input" id="email" name="email" placeholder="Email" required><br>
                    <textarea type="textfield" class="input-message border-customized-input border-removed-input" id="message" name="message" placeholder="Message.." required></textarea>
                </form>
                <button type="button" class="button">Send</button>
            </div>
            <div class="vline"></div>
            <div class="ownerMessage">
                <p>
                    Hi! if you have any questions or concerns, feel free to message us. We would be more than happy to respond to you. Thank you and have a nice day!
                     </p>
            </div>
        </div>
    </div>
</div>