@import "../../../styles.scss";

*, *:before, *:after {
    box-sizing: border-box;
  }

  input[type=text] {
    padding: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background-color: transparent;
    border-left: 7px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    width: 25vw;
    @media screen and (max-width: 995px){
        width: unset;
    }
  }
  
.contact{
    background: url('../../../assets/images/contactBG.jpg');
    padding: 16.9vh;
    @media screen and (max-width: 570px){
        padding: 4vh;
        @media screen and (max-width: 426px){
            padding: 2vh;
        }
    }
    .container{
        background: rgba(159, 225, 157, 0.5);
        margin: 0 auto;
        box-shadow: 8px 10px rgba(0, 0, 0, 0.5);
        border-left: 6px solid;
        border-color: $primary-color;
        font-family: $oswald;
        border-radius: 20px;
        padding-bottom: 20px;
        .title{
            font-size: 7vh;
            padding-top: 40px;
            @media screen and (max-width: 995px){
                font-size: 6vh;
                @media screen and (max-width: 570px){
                    font-size: 5vh;
                    @media screen and (max-width: 376px){
                        font-size: 4vh;
                    }
                }
            }
        }
        .grid-container{
            display: inline-grid;
            grid-template-columns: auto auto auto;
            padding-top: 30px;
            @media screen and (max-width: 995px){
                grid-template-columns: auto auto;
            }
            .form-container{
                padding: 0 5rem;
                @media screen and (max-width: 995px){
                    padding: 0 2rem;
                    @media screen and (max-width: 376px){
                        padding: 0 1rem;
                    }
                }
                .subtitle{
                    font-size: 20px;
                    padding-bottom: 15px;
                    @media screen and (max-width: 426px){
                        text-align: center;
                        @media screen and (max-width: 376px){
                            font-size: 3vh;
                        }
                    }
                }
                .input-message{
                    padding: 10px;
                    box-shadow:0 0 15px 8px rgba(0,0,0,0.06);
                    background-color: transparent;
                    border-left: 7px solid $primary-color;
                    border-bottom: 1px solid $primary-color;
                    height: 140px;
                    width: 25vw;
                    resize: none;
                    @media screen and (max-width: 995px){
                        width: unset;
                    }
                }
                .border-customized-input{
                    border: 2px solid #eee;
                    border-bottom:1px solid #eee;
                }
                
                .border-removed-input{
                    border: 0px;
                }
                .button{
                    appearance:none;
                    -webkit-appearance:none;
                    padding:10px;
                    border:none;
                    background-color: $primary-color;
                    color:#fff;
                    font-weight:600;
                    border-radius:5px;
                    width:29%;
                    margin-top: 1rem;
                    @media screen and (max-width: 426px){
                        width: 100%;
                    } 
                }                
            }
            .vline{
                border-left: 2px solid $primary-color;
                height: 400px;
            }
            .ownerMessage{
                padding: 5rem;
                font-size: 1.3rem;
                text-align: justify;
                @media screen and (max-width: 995px){
                    padding: 0 3rem 3rem 3rem;
                    @media screen and (max-width: 376px){
                        padding: 0 1rem 3rem 1rem;
                    }
                }
            }
        }
    }
}












