@import "../../../styles.scss";

*, *:before, *:after {
    box-sizing: border-box;
  }

  input[type=text] {
    padding: 10px;
    margin:10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    background-color: transparent;
    border-left: 7px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    width: 300px;
  }

.contact{
    background: url('../../../assets/images/contactBG.jpg');
    height: 92vh;
    padding: 16vh;
}

.container{
    background: rgba(159, 225, 157, 0.5);
    height: 65vh;
    width: 140vh;
    margin: 0 auto;
    box-shadow: 8px 10px rgba(0, 0, 0, 0.5);
    border-left: 6px solid;
    border-color: $primary-color;
    font-family: $oswald;
    border-radius: 20px;
}

.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 130px;
    padding-top: 30px;
}

.subtitle{
    font-size: 20px;
    padding-bottom: 15px;
}

.title{
    font-size: 7vh;
    padding-top: 40px;
    padding-left: 50px;
}

.form-container{
    padding-top: 30px;
    padding-left: 90px;
}

.input-message{
    padding: 10px;
    margin:10px 0;
    box-shadow:0 0 15px 8px rgba(0,0,0,0.06);
    background-color: transparent;
    border-left: 7px solid $primary-color;
    border-bottom: 1px solid $primary-color;
}


.border-customized-input{
    border: 2px solid #eee;
    border-bottom:1px solid #eee;
}


.border-removed-input{
    border: 0px;
}

.input-message{
    height: 140px;
    width: 300px;
}

.button{
  appearance:none;
  -webkit-appearance:none;
  padding:10px;
  border:none;
  background-color: $primary-color;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:29%;
}

.vline{
    border-left: 2px solid $primary-color;
    height: 400px;
}


.ownerMessage{
    padding-right: 80px;
    padding-top: 90px;

}