<div class="container d-flex justify-content-center w-100">
    <h1>Categories</h1>
</div>
<div class="container d-flex justify-content-center w-100">
    <div class="card c1 w-50 d-flex justify-content-center">
        <label>Instant and Canned Goods</label>
    </div>
    <div class="card c2 w-50 d-flex justify-content-center">
        <label>Home Cleaning Products</label>
    </div>
</div>
<div class="container d-flex justify-content-center w-100">
    <div class="card c3 w-50 d-flex justify-content-center">
        <label>Rice</label>
    </div>
    <div class="card c4 w-50 d-flex justify-content-center">
        <label>Self-Care Products</label>
    </div>
</div>
<div class="container d-flex justify-content-center w-100">
    <div class="card c5 w-50 d-flex justify-content-center">
        <label>Soft Drinks and Snacks</label>
    </div>
    <div class="card c6 w-50 d-flex justify-content-center">
        <label>Miscellaneous</label>
    </div>
</div>