<div class="container d-flex justify-content-center w-100">
    <h1>Categories</h1>
</div>
<div class="container d-flex justify-content-center w-100">
    <div class="card c6 w-50 d-flex justify-content-center" routerLink="/app-store" (click)="passCat('')">
        <label>All Products</label>
    </div>
<div class="card c1 w-50 d-flex justify-content-center" routerLink="/app-store" (click)="passCat('instantCannedGoods')">
        <label>Instant and Canned Goods</label>
    </div>
</div>
<div class="container d-flex justify-content-center w-100">
    <div class="card c3 w-50 d-flex justify-content-center" routerLink="/app-store" (click)="passCat('cookingEssentials')">
        <label>Cooking Essentials</label>
    </div>
    <div class="card c4 w-50 d-flex justify-content-center" routerLink="/app-store" (click)="passCat('selfCareProducts')">
        <label>Self-Care Products</label>
    </div>
</div>
<div class="container d-flex justify-content-center w-100">
    <div class="card c5 w-50 d-flex justify-content-center" routerLink="/app-store" (click)="passCat('drinksAndSnacks')">
        <label>Soft Drinks and Snacks</label>
    </div>
    <div class="card c2 w-50 d-flex justify-content-center" routerLink="/app-store" (click)="passCat('cleaningProducts')">
        <label>Home Cleaning Products</label>
    </div>
</div>