$oswald: 'Oswald', sans-serif;
$hover-primary:#6aa668;

.card{
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 91% 50%;
    margin: 10px;
    
    label{
        display: flex;
        color: white;
        text-shadow: 1px 1px 0px black;
        text-align: center;
        align-content: center;
        margin-left: 10px;
        font-size: 6vmin;
        font-family: $oswald;
        @media screen and (max-width: 426px) {
            justify-content: center;
            margin-left: unset;
        }
    }
}
.card:hover{
    cursor: pointer;
    filter: contrast(2);
    transition: .3s ease;
    outline: 3px solid $hover-primary;
}
.c1{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/6nXq89k/CanGoods.jpg');
}
.c2{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/xmRR5kZ/Cleaning-Prod.jpg');
}
.c3{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/XyN1pvX/Cooking-Essentials.jpg');
}
.c4{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/z4DqxtM/SelfCare.jpg');
}
.c5{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/gmhk8M6/Snacks.jpg');
}
.c6{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/cXXfbhR/AllItems.jpg');
}
h1{
    margin: 20px;
    font-family: $oswald;
    font-size: 4rem;
}