$primary-color: #79BC77;
$hover-primary:#6aa668;
$primary-color-light: rgba(121, 188, 119, 0.3);
$gray-color: #C4C4C4;
$oswald: 'Oswald', sans-serif;
@import "../../../styles.scss";

.right-panel{
    background: white;
    height: 46vh;
    width: 500px;
    margin-right: 150px;
    border: 1px solid $primary-color;
    border-radius: 10px;
}

.orderConfirmation{
    margin-left: 40px;
}

.checkout-button{
    width: 425px;
    height: 5vh;
    border: none;
    border-radius: 10px;
    background: $primary-color;
    color: white;
}

.orderInformation, .orderInformation-2{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.order-total-amount{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 3px;
}

.order-title{
    margin-left: 20px;
    margin-top: 50px;
}

.subtotal-amount, .shipping-amount, .total-order-amount{
    margin-right: 30px;
}

.image-test {
    height: 30px;
    width: 30px;
}
.modal-header{
    font-family: $oswald;
    font-size: 2rem;
}
.cart{
    padding-top: 40px;
    font-family: $oswald;
    background: url("../../../assets/images/cart-BG.jpg") fixed no-repeat;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1px;
}

.image-test {
    height: 19vh;
    width: 40%;
    margin-left: 50px;

}

.item-info{
    padding: 20px;
    width: 80%;
    height: fixed;
}

.product-image{
    height: 20%;
}

.border{
    margin-left: 40px;
    margin-bottom: 20px;
    height: 19vh;
    width: 85%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    background: $primary-color;
    color: white;
}

.product-name{
    font-size: 30px;
}

.top-items{
    height: 5vh;
    width: 41vw;
}

.delete-button{
    height: 25px;
    width: 25px;
}

.next-button{
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.prev-button{
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.price{
    padding-left: 590px;
    font-style: bold;
}

.bottom-items{
    padding-top: 30px;
    height: 20px;
}

.add-button{
    margin-left: 10px;
    margin-top: 9px;
    height: 28px;
    width: 28px;
    border:none;
}

.add-button:hover{
    border: 2px solid;
}

.minus-button{
    margin-top: 9px;
    height: 28px;
    width: 28px;
    border:none;
}

.minus-button:hover{
    border: 2px solid;
}

.total-quantity{
    margin: 10px;
}

.quantity-text{
    margin-top: 10px;
}

.vline{
    margin-left: 40px;
    height: 2px;
    width: 85%;
    background: $primary-color;
}

.total{
    width: 57%;
    margin-left: 789px;
    font-size: 33px;
}

.amount{
    margin-bottom: 2px;
    border: 2px solid $primary-color;
    border-radius: 4px;
    background: $primary-color;
    color: white;
}

.cart-amount{
    margin-left: 10px;
    margin-top: 5px;
}

.clear-button{
    background-color: $primary-color;
    color:white;
    border:none;
    border-radius: 10px;
    font-size: 16px;
    height: 25px;
}

.delete-button-2{
    height: 25px;
    width: 25px;
    margin-bottom: 15px;
    margin-left: 6px;
}
