<div *ngIf="currentTotal > 0; else emptyCart">
<div class="cart ">
<div class="left-panel">
<div class="border d-flex flex-row justify-content-center" *ngFor="let cart of cart.cartArray">
    
    <div class="product-image" >
        <img src="{{ cart.image }}" class="image-test">
    </div>

        <div class="item-info d-flex flex-column">
        <div class="top-items d-flex flex-row">
            <p class="product-name">{{ cart.name }}</p>

                <div class="ml-auto">
                    <a (click)="removeItem(cart.name, cart.id)"> <img src="../../../assets/images/delete.png" class="delete-button"></a>
                </div>
        </div>

        <div class="bottom-items d-flex flex-row mt-auto align-items-center">
                <p>
                    <span class="quantity d-flex flex-row ">
                    <p class="quantity-text align-self-center">Quantity: </p>
                        <button (click)="cartAdd(cart.id)" class="add-button">+</button>
                            <div class="total-quantity align-self-center">{{ cart.quantity }}</div>
                        <button (click)="cartMin(cart.id, cart.name)" class="minus-button">-</button>
                    </span>
                </p>
                <div class="ml-auto">
                    <p class="price">Price: ₱{{ cart.price }}</p>
                </div> 
        </div>
        </div>
</div>

<div class="vline"></div>
<div class= "total d-flex flex-row justify-content-end align-items-center">
    <div class="amount">
        Total Amount: 
    </div> 
        <div class="cart-amount">₱{{ currentTotal }}</div>
        <a (click)="clearCart()"><img src="../../../assets/images/delete-2.png" class="delete-button-2"></a>
</div>
</div>

<div class="right-panel d-flex flex-column justify-content-center">
  <div class="order-title d-flex flex-column justify-content-center">
    <h1>Order Summary</h1>
  </div>
  <div class="orderInformation d-flex flex-row align-items-center">
      Subtotal: <div class="subtotal-amount ml-auto p-2">₱{{ currentTotal }}</div>
  </div>
  <div class="orderInformation-2 d-flex flex-row align-items-center">
      Shipping Fee: <div class="shipping-amount ml-auto p-2">₱50</div> <!---Put the shipping amount here-->
  </div>
  <div class="vline"></div>
  <div class="order-total-amount d-flex flex-row align-items-center">
    Total Amount: <div class="total-order-amount ml-auto p-2">₱{{cart.amount}}</div> <!---Put the total amount here-->
    </div>
  <div class="orderConfirmation align-self-center">
    <button (click)="openModal(popup, null)" class="checkout-button">Proceed to Checkout</button>
  </div>
</div>

<ng-template #popup let-d="dismiss">
    <div class="modal-header text-dark d-flex justify-content-center m-3">
      {{checkoutDetails ? 'Update' : 'Fill Out'}} Checkout Details
    </div>
  
    <div class="modal-body">
      <form class="m-3" [formGroup]="form">

        <div class="form-group mb-3">
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="name"
                 class="form-control" [ngClass]="{'error-border': !form.get('name').valid && form.get('name').dirty}"/>
        </div>

        
        <div class="form-group mb-3">
            <label for="address">Address</label>
            <input id="address" type="text" formControlName="address"
                   class="form-control" [ngClass]="{'error-border': !form.get('address').valid && form.get('address').dirty}"/>
          </div>
  
        <div class="form-group mb-3">
          <label for="number">Contact Number</label>
          <input id="number" type="number" formControlName="number" value="+639"
                 class="form-control" [ngClass]="{'error-border': !form.get('number').valid && form.get('number').dirty}"/>
        </div>
        <div class="form-group">
            <label for="image">Valid ID</label>
            <input class="form-control" formControlName="image" id="image" type="file" (change)="upload($event)" accept="*.png.jpg.jpeg">
          </div>
          <div class="form-group d-none">
            <label for="amount">Amount</label>
            <input class="form-control" formControlName="amount" id="amount" type="number" [(ngModel)]="cart.amount">
          </div>
          <div class="form-group d-none">
            <label for="orderID">orderID</label>
            <input class="form-control" formControlName="orderID" id="orderID" type="text" [(ngModel)]="this.orderID">
          </div>
          <div class="form-group d-none">
            <label for="status">status</label>
            <input class="form-control" formControlName="status" id="status" type="text" [(ngModel)]="this.status">
          </div>
          <div class="form-group d-none">
            <label for="time">time</label>
            <input class="form-control" formControlName="time" id="time" type="text" [(ngModel)]="this.time">
          </div>
      </form>
  
      <div class="text-center mb-3">
        <button class="btn submit btn-sm pl-4 pr-4 mr-2"
                [disabled]="!form.valid"
                (click)="checkoutDetails ? updateCheckout(checkoutDetails.id) : addCheckout(); d()">Submit</button>
        <button class="btn btn-secondary btn-sm pl-4 pr-4 ml-2" (click)="d()">Cancel</button>
      </div>
    </div>
  </ng-template>
</div>
</div>
  <ng-template #emptyCart>
      <div class="empty-cart d-flex flex-column align-items-center">
          <img src="../../../assets/images/Cart.png" class="cart-img">
          <h1>Oops, Your Shopping Cart is Empty</h1>
          <h2>Browse the store now!</h2>
          <button routerLink="/store" class="store-button"> Go to Store</button>
      </div>
  </ng-template>
