$primary-color: #79BC77;
$hover-primary:#6aa668;
$primary-color-light: rgba(121, 188, 119, 0.3);
$gray-color: #C4C4C4;
$oswald: 'Oswald', sans-serif;
@import "../../../styles.scss";

.right-panel{
    background: white;
    height: 24vmax;
    margin: 0 7% 20px;
    // margin-right: 150px;
    border: 1px solid $primary-color;
    border-radius: 10px;
}

.orderConfirmation{
    width: 90%;
}

.checkout-button{
    width: 100%;
    height: 5vh;
    border: none;
    border-radius: 10px;
    background: $primary-color;
    color: white;
}

.orderInformation, .orderInformation-2{
    font-size: 3vmin;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.order-total-amount{
    font-size: 4vmin;
    margin-left: 40px;
    margin-top: 3px;
}

.order-title{
    margin-left: 20px;
}
.order-title h1{
    font-size: 5vmin;
}

.subtotal-amount, .shipping-amount, .total-order-amount{
    margin-right: 30px;
}

// .image-test {
//     height: 30px;
//     width: 30px;
// }
.modal-header{
    font-family: $oswald;
    font-size: 2rem;
}
.cart{
    padding-top: 40px;
    font-family: $oswald;
    background: url("../../../assets/images/cart-BG.jpg") center fixed no-repeat;
    display: grid;
    grid-template-columns: 60% 40%;
    // grid-column-gap: 1px;
    @media screen and(max-width: 1025px) {
        grid-template-columns: unset;
    }
}

.image-test {
    height: 20vmin;
    width: 17.1vmin;
    // width: 40%;
    // margin-left: 50px;
    object-fit: cover;
}

.item-info{
    padding: 2vmin;
    width: 100%;
    height: fixed;
}

.product-image{
    height: 20%;
}

.border{
    margin: 0 7% 20px;
    // height: 19vh;
    // width: 100%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    background: $primary-color;
    color: white;
}

.product-name{
    font-size: 4vmin;
}

.top-items{
    // height: 5vh;
    width: 100%;
}
.bottom-items p{
    font-size: 2vmin;
}

.delete-button{
    height: 4vmin;
    width: 4vmin;
}

.next-button{
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.prev-button{
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.price{
    // padding-left: 590px;
    font-style: bold;
}

// .bottom-items{
//     padding-top: 30px;
//     height: 20px;
// }

.add-button{
    margin-left: 10px;
    // margin-top: 9px;
    height: 4vmin;
    width: 4vmin;
    border:none;
}

.add-button:hover{
    border: 2px solid;
}

.minus-button{
    // margin-top: 9px;
    height: 4vmin;
    width: 4vmin;
    border:none;
}

.minus-button:hover{
    border: 2px solid;
}

.total-quantity{
    margin: 0 10px;
}

// .quantity-text{
//     margin-top: 10px;
// }

.vline{
    margin: 0 30px;
    height: 2px;
    width: 85%;
    background: $primary-color;
}

.total{
    // width: 57%;
    // margin-left: 789px;
    margin: 5px 7% 5px;
    font-size: 3vmin;
}

.amount{
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid $primary-color;
    border-radius: 4px;
    background: $primary-color;
    color: white;
}

.cart-amount{
    margin-left: 10px;
    // margin-top: 5px;
}

.clear-button{
    background-color: $primary-color;
    color:white;
    border:none;
    border-radius: 10px;
    font-size: 16px;
    height: 25px;
}

.delete-button-2{
    height: 4vmin;
    width: 4vmin;
    margin-bottom: 15px;
    margin-left: 6px;
}
