$primary-color: #79BC77;
$hover-primary:#6aa668;
$oswald: 'Oswald', sans-serif;

.container-fluid {
    padding: 50px 100px;
    @media screen and (max-width:769px) {
      padding: 50px 5vmin;
    }
  
    .card {
      border-radius: 5px;
      padding: 10px 20px;
      min-width: 200px;
      cursor: pointer;
  
      .heading {
        margin-top: 30px;
        font-size: 25px;
        font-weight: 550;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
          overflow: visible;
          -webkit-line-clamp: 5;
        }
      }
      .sub-heading {
        font-size: 20px;
        font-weight: 350;
      }
      .product-image{
        height: 20vh;
    }

  }
}
.delete-icon{
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}
  .header{
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 91% 50%;
  }
.h1{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/cXXfbhR/AllItems.jpg');
}
.h2{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/xmRR5kZ/Cleaning-Prod.jpg');
}
.h3{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/XyN1pvX/Cooking-Essentials.jpg');
}
.h4{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/z4DqxtM/SelfCare.jpg');
}
.h5{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/gmhk8M6/Snacks.jpg');
}
.h6{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://i.ibb.co/6nXq89k/CanGoods.jpg');
}
  .textHeader{
    color: white;
    font-family: $oswald;
    font-size: 14.5vmin;
    text-shadow:5px 5px 1px black, 5px 5px 1px black;
    text-align: center;
  }
  .modal-header{
    font-size: 20px;
    font-family: $oswald;
  }
  input:focus {
    -webkit-box-shadow: none;
    box-shadow: none !important;
  }
  button,button:disabled{
    background-color: $primary-color;
    border-color: $primary-color;
  }
  button:focus,button:hover {
    background-color: $hover-primary;
    border-color: $hover-primary;
    outline: none;
    box-shadow: none !important;
  }
  .error-border {
    border: 1px solid crimson;
  }

  .add-icon{
    width: 18px;
    filter: invert(1);
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.btn{
  font-family: $oswald;
}

.cart-button{
  height: 40px;
  border: none;
  border-radius: 20px;
  color:white;
  margin-top: 10px;
  font-weight: 400;
}