<div class="container">

    <div class="row" *ngIf="itemList.length">
        <div class="col-md-3 p-3" *ngFor="let items of itemList">

            <div class="card p-3">
                <div class="product-con d-flex justify-content-center"><img class="product-image" src="{{items.image}}"></div>
                <div class="heading">Name: {{items.name}}</div>
                <div class="sub-heading">Price: PHP {{items.price}}</div>
                <button (click)="cart.addCart(items.name, items.price, items.id, items.image)">add to cart</button>
            </div>

        </div>
    </div>

</div>