<footer>
  <div class="footer-head">
    <div class="container">
      <!-- 2nd content -->

      <div class="fo footer-content3">
        <h3>Quick Links</h3>
        <div class="seperator mt-5"></div>

        <div class="footer-content3-container">
          <ul>
            <li class="mb-3">
              <a href="#">
                <span class="icon">
                  <img
                    src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png"
                  />
                </span>
                <span class="text"> Home</span>
              </a>
            </li>
            <li class="mb-3">
              <a href="#">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/android/24/000000/phone.png"
                  />
                </span>
                <span class="text">How It Works</span>
              </a>
            </li>

            <li class="mb-3">
              <a href="">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/material-rounded/24/000000/filled-sent.png"
                  />
                </span>
                <span class="text"> Store</span>
              </a>
            </li>

            <li class="mb-3">
              <a href="">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/material-rounded/24/000000/filled-sent.png"
                  />
                </span>
                <span class="text"> About Us</span>
              </a>
            </li>

            <li class="mb-3">
              <a href="">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/material-rounded/24/000000/filled-sent.png"
                  />
                </span>
                <span class="text"> Contact Us</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- 3rd content -->

      <div class="fo footer-content4">
        <h3>Have a Question?</h3>
        <div class="seperator mt-5"></div>

        <div class="footer-content4-container">
          <ul>
            <li class="mb-3">
              <span class="icon"
                ><img
                  src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png"
                />
              </span>
              <span class="text"> Silang, Cavite</span>
            </li>
            <li class="mb-3">
              <span class="icon"
                ><img
                  src="https://img.icons8.com/android/24/000000/phone.png"
                />
              </span>
              <span class="text"> (09)29 857 8974</span>
            </li>

            <li class="mb-3">
              <a href="#">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/material-rounded/24/000000/filled-sent.png"
                  />
                </span>
                <span class="text"> nearbuy@gmail.com</span>
              </a>
            </li>
          </ul>
        </div>

        <h3 class="pw mt-5">Partnership With</h3>
        <div class="seperator mt-5"></div>

        <div class="img-container">
          <img class="img1" src="../../../assets/images/guardian.png" />
          <img
            class="img2"
            src="../../../assets/images/179048040_265330628660210_7373719826680992684_n-removebg-preview.png"
          />
        </div>
      </div>

      <!-- 1st content -->
      <div class="fo footer-content1">
        <!-- <h3>Near Buy</h3> -->
        <div class="seperator mt-5">
          <a href="https://imgbb.com/"
            ><img
              class="fc1-img"
              src="https://i.ibb.co/svHvCWB/nb-1.png"
              alt="nb-1"
              border="0"
          /></a>

          <h3>Check Our Social Media!</h3>

          <div class="footer-content1-icons mt-5">
            <!-- twitter icon -->
            <a href="#"
              ><img src="https://img.icons8.com/android/24/000000/twitter.png"
            /></a>
            <!-- facebook icon -->
            <a href="#">
              <img
                src="https://img.icons8.com/android/24/000000/facebook-new.png"
              />
            </a>
            <!-- ig icon -->
            <a href="#">
              <img
                src="https://img.icons8.com/fluent-systems-filled/24/000000/instagram-new.png"
              />
            </a>
          </div>
        </div>
      </div>

      <!-- end of content -->
    </div>
    <div class="col-12 text-center mt-5">
      <p class="copyright">
        Created with
        <span
          ><img src="https://img.icons8.com/color/30/000000/angularjs.png"
        /></span>
        ngular ©2021 | All rights reserved |
      </p>
    </div>
  </div>

  <!-- end of footer head -->
</footer>
