
@import "../../../styles.scss";
$primary-color:#79BC77;


*{
    font-family: $oswald;

}

footer{
    bottom: 0;
    background-color: $primary-color-light;
    width: 100%;
}

.footer-head{
    background-color: $primary-color-light;
    width: 100%;
    margin-top: 0px;
    position: sticky;
    bottom: 0;
}

.content {
    h3 {
        text-align: center;
        margin-bottom: 30px;
    }
}

.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.partnerWith {
    h3 {
        text-align: center;
    }
}
.container{

    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items:start;
    // padding: 0px 1em;
    justify-content: space-around;
    }

//content - logo
    .footer-content5{

        display: flex;
        flex-direction: column;
        padding: 30px 40px 0px 40px;
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

    }

        @-webkit-keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        } 



    .logo-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    }
    
    .nb-1{
        font-size: 70px;
        line-height: 25.35px;
        font-weight: 300;
        // color: rgb(96, 92,92);
        color: rgb(240,240, 240);
    }
    
    .nb-2{
    
        font-size: 70px;
    font-weight: 700;
    position: relative;
    left: 80px;
    color: rgb(240,240, 240);

    }



    .img-l-p{
        width: 15vw;    
    }


//animation for moving car
    .img-l-p:hover {
        cursor: pointer;
        -webkit-animation-name: fadeOutRight;
        animation-name: fadeOutRight;
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeOutRight {
        0% {
        opacity: 1;
        }
        100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        }
        @keyframes fadeOutRight {
        0% {
        opacity: 1;
        }
        100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        }

 


    //second head container
    .link-container{
        display: flex;
        align-items:flex-start;
        padding-top: 20px;
        padding-bottom: 0px;
    }
	

//Social Media Accounts

	.footer-content1{
		flex-direction: column;
		align-items: center;

        h3 {
            position: relative;
            display: flex;
            font-size: 24px;
        }
	}   


    .footer-content1 h3:before{
        content: " ";
        border: 2px solid white;
        background: white;        
        position: absolute;
        bottom: -10px;
        left: 20px;
        right: 20px;
    }






.footer-content1-icons{
	display: flex;
	gap: 1.3em;
    justify-items:space-evenly;
	align-items: center;
	flex-wrap: nowrap;

    a{
        border: 12px solid white;
        border-radius: 20%;
        background: white;
    }


}


.footer-content1-icons a:hover {
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    border: 12px solid  rgb(47, 137, 98);

    border-radius: 50%;
    background:rgb(47, 137, 98);

    color: white;
}





//2nd content

.footer-content2{
    width: 100%;
    min-height: 100%;
}

.footer-content2 h3{
    position: relative;
    text-align: center;
}

.footer-content2 h3:before{
    content: " ";
    border: 2px solid white;
    background: white;        
    position: absolute;
    bottom: -10px;
    left:-20px;
    width: 400px;
}


.img-container{
	display: flex;
	justify-content:center;
	
	align-items: center;
}

.img-container .img1{
    width:10vw;
}

.img-container .img2{
    width: 6vw;
    height: 10vh;
}




.btn-footer {
    color:white;
    background: rgb(47, 137, 98);
   text-decoration: none;
   border: 1px solid;
   border-radius: 43px;
   font-size: 13px;
   padding: 7px 60px;
   line-height: 47px;
   font-weight: 600;
}

.btn-footer:hover {
   
   text-decoration: none;
}




//3rd content

.footer-content-3{
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}


.footer-content3 h3{
    position: relative;
}

.footer-content3 h3:before{
    content: "";
    border: 2px solid white;
    background: white;
    position: absolute;
    bottom: -10px;
    left: 20px;
    right: 20px;
}



li{
    list-style: none;

}


li a {
    text-decoration: none;
    color:#212529;
}
//animation for hover effect

li a:hover{
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        color: rgb(47, 137, 98);
}



  @-webkit-keyframes zoomIn {
    0% {
         opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
           transform: scale3d(.3, .3, .3);
        }
    50% {
     opacity: 1;
    }
    }
     @keyframes zoomIn {
     0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50% {
    opacity: 1;
            }
    }  


.icon{
    padding:10px;
}

.text{
    letter-spacing: 1px;
    line-height: 40px;
}


//4th content

.footer-content4 h3{
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}

.footer-content4 h3:before{
    content: " ";
    border: 2px solid white;
    background: white;
    position: absolute;
    bottom: -10px;
    left: 20px;
    right: 20px;

}

.partnerWith {
    position: relative;

}

.partnerWith :before{
    content: " ";
    border: 2px solid white;
    background: white;        
    position: absolute;
    bottom:-10px;
    left:25px;
    width: 7em;

}




li{
    list-style: none;

}


.scroll-to-top {
    border-radius: 50%;
    transition: all .2s ease-in-out;
    position: absolute;
    border: solid 2px;
	-webkit-animation: bounce-top 2s ease-in-out infinite both;
	        animation: bounce-top 2s ease-in-out ;
}   

/* ----------------------------------------------
 * Generated by Animista on 2021-5-3 4:5:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
 




@media screen and (max-width:2560px) {

    .container{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }



    .fo .footer-content3 h3{
        font-size: 35px;
    }


    .text{
        font-size: 30px;
    }


}



@media screen and (max-width:1441px) {


    .container{
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: start;

    }


    .footer-head{
        max-width: 100%;

    }

    .link-container{
        padding-bottom: 16px;
        gap: 0px;
    }


    .img-l-p{
        width: 15vw;
    }


    .footer-content5{
        padding: 30px 40px 0px 60px;
        align-items: center;
    }

    .text{
        font-size: 19px;
    }

}


@media screen and (max-width:1024px) {
    .footer-head{
        max-width: 100%;
        bottom: 0;
    }

    .container{
        max-width: 100%;
        gap: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

    }

    .link-container{
        gap: 25px;
    }

    
    .footer-content3 h3{
        font-size: 24px;
    }

    .footer-content-4 h3{
        font-size: 24px;
    }

    .footer-content5{
        padding: 30px 40px 0px 20px;
    }


    .nb-1{
        font-size: 66px;
    }

    .nb-2{
        font-size: 66px;
        left: 52px;
    }
    
    .text{
        font-size: 16px;
    }


    .img-l-p{
        width: 15vw;
    }

    

}


@media screen and (max-width:768px) {
    .footer-head{
        max-width: 100%;

    }

    .container{
        max-width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 0;
        align-items: center;
        padding:0;

	}

    .link-container{
        padding-bottom: 20px;
    }




  .container  .footer-content1 h3{
        width: 100%;
    }



    .container .footer-content1 h3{
        width: 100%;
        font-size:25px;
    }

    .text{
        font-size: 13px;
        padding: 0;
    }    

    .icon{
        padding: 0;
    }


}







@media screen and (max-width:700px) {

    .footer-content-3 h3{
        font-size: 22px;
    }

    .container .footer-content1 h3{
        font-size: 22px;

    }


    .footer-content-4-container h3{
        font-size: 22px;
    }


    .text{
        font-size: 13px;
        padding: 0;
    }    

    .icon{
        padding: 0;
    }

}






@media screen and (max-width:500px) {
    .footer-head{
        max-width: 100%;
		height:100%;
        align-items: center;


    }




    .container{
        max-width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 0;
        align-items: center;
        padding:0;

	}


    .logo-text h3{
        font-size: 45px;
    }



   .logo-text .nb-1{
    font-size: 50px;

    }

    .logo-text .nb-2{
        font-size: 50px;
        left: 25px;
    }

    .link-container{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    




	h3{
		text-align: left;
		left: 20px;
	}
	

	.fc1-img{

		position: relative;
    left: 39px;

	}



	.img-container{
		width: 100%;

	}




	.footer-content1{
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


.fo .footer-content1{
    font-size: 24px;

}


	.footer-content1-icons{
		display: flex;
		justify-content: center;
		align-items: center;
        padding-left: 21px;
        gap: 1.3em;
    }

    


    .footer-content3 h3:before{
        content: "";
        border: 2px solid white;
        background: white;
        position: absolute;
        bottom: -10px;
        left: 32px;
        width: 50px;
    }


.msection .copyr-section {
	margin-top: 40px;
	background: $primary-color;

}


.footer-content-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content-4-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.list-container > li:nth-child(2){

    padding-left: 10px;

}


.list-container > li:nth-child(3){

    padding-left: 25px;

}





.footer-content4-container h3{
    font-size: 24px;
}

    .copyright{
        font-size: 10px;
    }

}









@media screen and (max-width:375px) {
    .footer-head{
        max-width: 100%;
        min-height: 100vh;

        top: 0;
        bottom: 0;
    }

    .container{
        max-width: 100%;
        gap: 1em;
		display: flex;
		flex-direction: column;
		margin-top: 0;

	}

	h3{
		text-align: left;
		left: 20px;
	}


	.img-container{
		width: 100%;
		gap: 2em;
	}


.img-container	.img1{
		width: 45vw;
	}


.img-container	.img2{
		width: 19vw;
    height: 16vh;
	}

	


	.fc1-img{

		position: relative;
    left: 39px;

	}




	.footer-content1{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	


	.footer-content1-icons{
		display: flex;
		justify-content: center;
		align-items: center;
	}



}




@media screen and (max-width:320px) {
    .footer-head{
        max-width: 100%;
        min-height: 100vh;
        top: 0;
        bottom: 0;
    }

    .container{
        max-width: 100%;
        gap: 1em;
    }



    .copyright{
        font-size: 10px;
    }




}







    