<footer>
  <div class="footer-head">
    <div class="container">
      <!-- content-logo -->
      <div
        class="fo footer-content5 d-flex flex-row justify-content-between align-items-center"
      >
        <!-- image-logo -->
        <img class="img-l-p" src="../../../assets/images/download.png" />

        <div class="logo-text">
          <h3 class="nb-1">Near</h3>
          <br />
          <h3 class="nb-2">Buy</h3>
        </div>
      </div>

      <div class="link-container">
        <!-- Quick Links -->
        <div class="fo footer-content3 d-flex justify-content-center pl-1 pr-1">
          <div class="content">
            <h3>Quick Links</h3>

            <ul>
              <!-- <li class="mb-1">
                <a href="#">
                  <span class="icon">
                    <img
                      src="https://img.icons8.com/metro/26/000000/chevron-right.png"
                    />
                  </span>
                  <span class="text"> Home</span>
                </a>
              </li> -->
              <li class="mb-1">
                <a href="#">
                  <span class="icon"
                    ><img
                      src="https://img.icons8.com/metro/26/000000/chevron-right.png"
                    />
                  </span>
                  <span class="text">How It Works</span>
                </a>
              </li>
            </ul>

            <li class="mb-1">
              <a href="">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/metro/26/000000/chevron-right.png"
                  />
                </span>
                <span class="text"> Store</span>
              </a>
            </li>

            <li class="mb-1">
              <a href="">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/metro/26/000000/chevron-right.png"
                  />
                </span>
                <span class="text"> About Us</span>
              </a>
            </li>

            <li class="mb-1">
              <a href="">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/metro/26/000000/chevron-right.png"
                  />
                </span>
                <span class="text"> Contact Us</span>
              </a>
            </li>
          </div>
        </div>
        <!-- End Quick Links -->

        <!-- Questions -->

        <div class="fo footer-content4 d-flex justify-content-center pl-1 pr-3">
          <div class="footer-content4-container">
            <h3>Have a Question?</h3>
            <ul>
              <li class="mb-3">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png"
                  />
                </span>
                <span class="text"> Silang, Cavite</span>
              </li>
              <li class="mb-3">
                <span class="icon"
                  ><img
                    src="https://img.icons8.com/android/24/000000/phone.png"
                  />
                </span>
                <span class="text"> (09)29 857 8974</span>
              </li>

              <li class="mb-3">
                <a href="#">
                  <span class="icon"
                    ><img
                      src="https://img.icons8.com/material-rounded/24/000000/filled-sent.png"
                    />
                  </span>
                  <span class="text"> nearbuy@gmail.com</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Social Media Accounts -->
        <div class="fo footer-content1 d-flex justify-content-center">
          <h3>Check Our Social Media!</h3>
          <div class="footer-content1-icons mt-5 d-flex justify-content-center">
            <!-- twitter icon -->
            <a href="#"
              ><img src="https://img.icons8.com/android/20/000000/twitter.png"
            /></a>
            <!-- facebook icon -->
            <a href="#">
              <img
                src="https://img.icons8.com/android/20/000000/facebook-new.png"
              />
            </a>
            <!-- ig icon -->
            <a href="#">
              <img
                src="https://img.icons8.com/fluent-systems-filled/20/000000/instagram-new.png"
              />
            </a>
          </div>

          <!-- <div class="Partners d-flex flex-column">
            <h3 class="partnerWith pw mt-5 justify-content-center">
              Partnership With
            </h3>
            <div class="img-container d-flex flex-row">
              <img class="img1" src="../../../assets/images/guardian.png" />
              <img
                class="img2"
                src="../../../assets/images/179048040_265330628660210_7373719826680992684_n-removebg-preview.png"
              />
            </div>
          </div> -->
        </div>
      </div>

      <!-- end of content -->
    </div>

    <!-- Copyright -->
    <div class="col-12 text-center mt-3">
      <p class="copyright">
        Created with
        <span
          ><img src="https://img.icons8.com/color/30/000000/angularjs.png"
        /></span>
        ngular ©2021 | All rights reserved |
      </p>
    </div>
  </div>

  <!-- end of footer head -->
</footer>
