<div class="container">
    <div class="left-col">
        <h1>CAN'T GET OUT BUT IN NEED OF SUPPLIES?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate dolore accusantium officia necessitatibus enim, consectetur quod doloribus voluptas ea veritatis minus, nesciunt, sequi magni deserunt pariatur odio et laudantium?</p>    
        
        <div class="left-col-1">
            <button class="button button2">ORDER NOW</button>
        </div>
    </div>

    <div class="right-col" >
        <img src="../../../assets/images/GroceryPic.png" alt="GroceryPic" class="GroceryPic">
        <h2>
            <a routerLink="how-it-works">How it works?
            <img src="../../../assets/images/arrow-right.png" alt="right arrow" class="arrow"></a>
        </h2>
        
    </div>
</div>

