@import "../../../styles.scss";

p, a, .button2{
    font-family: $oswald;
}
.container{
    a{
        color: inherit;
        &:link{
            text-decoration: none;
        }
    }
    max-width: 100%;
    .main-section{
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        @media screen and(max-width:1220px){
            padding-left: 3rem;
            padding-right: 3rem;
            @media screen and(max-width:769px){
                flex-direction: column-reverse;
                padding: 1rem;
            }
        }
        .main-text{
            font-weight: bold;
            font-size: 6.5vw;
            line-height: 0.9;
            text-align: left;
            margin-top: 55px;
            @media screen and(max-width:769px){
                text-align: center;
                font-size: 5vw;
                margin-top: 0;
                @media screen and(max-width: 550px){
                    font-size: 8vw;
                    @media screen and(max-width: 426px){
                        font-size: 11vw;
                    }
                }
            }
        }
        p{
            margin-top: 16px;
            line-height: 1.1;
            font-size: 1.2vw;
            text-align: left;
            @media screen and(max-width:769px){
                padding-left: 1.5rem!important;
                padding-right: 1.5rem!important;
                font-size: 2.5vw;
                text-align: center;
                @media screen and(max-width: 550px){
                    margin-top: 9px;
                    @media screen and(max-width: 426px){
                        font-size: 3.9vw;
                    }
                }
            }
        }
        .description{
            padding-right: 7rem!important;
            @media screen and(max-width:769px){
                padding-right: 1.5rem!important;
            }
        }
        .button-div{
            @media screen and(max-width:769px){
                padding-right: 0!important;
            }
            .button{
                border:none;
                color: white;
                text-align: center;
                padding: 20px 75px;
                border-radius: 50px;
                transition: transform 0.5s;
                @media screen and(max-width: 426px){
                    padding: 10px 45px;
                }
                &:hover{
                    background-color: #3e8e41;
                    transform: scale(1.05);
                }
                &:active {
                    background-color: #3e8e41;
                    box-shadow: 0 5px #666;
                    transform: translateY(4px);
                    transform: scale(1.05);
                }
            }
            .button2 {
                background-color: $primary-color;
                margin-top: 40px;
                font-size: 1vw;
                font-weight: bold;
                @media screen and(max-width: 769px){
                    font-size: 2vw;
                    @media screen and(max-width: 550px){
                        margin-top: 20px;
                        @media screen and(max-width: 426px){
                            font-size: 3.5vw;
                        }
                    }
                }
            }
        }
        
        .GroceryPic{
            width: 42vw;
            @media screen and(max-width: 550px){
                width: 58vw;
                @media screen and(max-width: 426px){
                    width: 64vw;
                    @media screen and(max-width: 376px){
                        width: 80vw;
                        @media screen and(max-width: 321px){
                            width: 94vw;
                        }
                    }
                }
            }
        }
    }
    h2{
        margin-top: -30px;
        margin-right: 25px;
        font-weight: lighter;
        font-size: 1.6vw;
        transition: transform 0.5s;
        @media screen and(max-width: 769px){
            font-size: 2.7vw;
            @media screen and(max-width: 426px){
                margin-top: 0;
                margin-right: 5px;
                font-size: 4vw;
            }
        }
        &:hover{
            transform: scale(1.1);
            font-weight: 250;
        }
    }
    .arrow{
        height: 4vh;
        margin-right: 15px;
        transition: transform 1s ease-in;
    }
    h2:hover .arrow{
        animation: left-to-right 0.5s ease-in forwards infinite alternate;
        @keyframes left-to-right {
            100%{
                transform: translateX(25%);
            }
        }
    }    
}
