<div class="row">
    <div class="colu-1 left">
        <h1>CAN'T GET OUT BUT IN NEED OF SUPPLIES?</h1>
        <p>Near Buy is an On-Demand Delivery app that utilize modern day technology to deliver groceries right at your door. On-demand pickup and drop off groceries in 3 hours guaranteed all around Silang, Cavite</p>    
        
        <div class="button-row">
            <button class="button button2">ORDER NOW</button>
        </div>
    </div>

    <div class="colu-2 right" >
        <img src="../../../assets/images/GroceryPic.png" alt="GroceryPic" class="GroceryPic">
    </div>
    <h2>
        <a routerLink="how-it-works">How it works?</a>
        <img src="../../../assets/images/arrow-right.png" alt="right arrow" class="arrow">
    </h2>
</div>