<div class="container">
        <section class="main-section d-flex align-items-stretch flex">
            <div class="justify-content-center">
                <p class="main-text pl-3 pr-3">
                    CAN'T GET OUT BUT IN NEED OF SUPPLIES?    
                </p>
                <p class="pl-4 pr-5 description">Near Buy is an On-Demand Delivery app that utilize modern day technology to deliver groceries right at your door. On-demand pickup and drop off groceries in 3 hours guaranteed all around Silang, Cavite</p>
                <div class="d-flex justify-content-center pr-5 button-div">
                    <button routerLink="/categories" class="button button2">ORDER NOW</button>
                </div>
            </div>
            <div class="p-2 align-self-center" >
                <img src="../../../assets/images/GroceryPic.png" alt="GroceryPic" class="GroceryPic">
            </div>   
        </section>
            <div class="d-flex">    
                <div class="p-2 ml-auto">
                    <h2>
                        <a routerLink="/how-it-works">How it works?</a>
                        <img src="../../../assets/images/arrow-right.png" alt="right arrow" class="arrow">
                    </h2>
                </div>
            </div>
</div>