<footer class="user-select-none">
    <div class="row px-md-5 px-3 main-content pt-4 pb-2 container-max-width">
        <section class="col-12 col-sm-12 col-lg position-relative d-flex align-items-center justify-content-center">
            <img src="../../../assets/images/download.png" alt="" class="carImg">
            <img src="../../../assets/images/NearBuy.png" alt="" class="nearImg"/>
        </section>
        <section class="col-12 col-sm-6 col-lg d-flex flex-column align-items-center py-3">
            <ul class="list-unstyled h-100 d-flex flex-column justify-content-between">
                <li>
                    <p class="h4 text-und">Quick Links</p>
                </li>
                <li class="d-flex align-items-center pl-2 pb-2 pt-3">
                    <img src="https://img.icons8.com/metro/26/000000/chevron-right.png" alt="">
                    <p>Store</p>
                </li>
                <li class="d-flex align-items-center pl-2 py-2">
                    <img src="https://img.icons8.com/metro/26/000000/chevron-right.png" alt="">
                    <p>How it Works</p>
                </li>
                <li class="d-flex align-items-center pl-2 py-2">
                    <img src="https://img.icons8.com/metro/26/000000/chevron-right.png" alt="">
                    <p>About Us</p>
                </li>
                <li class="d-flex align-items-center pl-2 py-2">
                    <img src="https://img.icons8.com/metro/26/000000/chevron-right.png" alt="">
                    <p>Contact Us</p>
                </li>
            </ul>
        </section>
        <section class="col-12 col-sm-6 col-lg d-flex flex-column align-items-center py-3">
            <ul class="list-unstyled h-100 d-flex flex-column justify-content-between ">
                <li>
                    <p class="h4 text-und">Have a question?</p>
                </li>
                <li class="d-flex align-items-center pl-2 py-2">
                    <img src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png" alt="">
                    <p>Silang, Cavite</p>
                </li>
                <li class="d-flex align-items-center pl-2 py-2">
                    <img src="https://img.icons8.com/android/24/000000/phone.png" alt="">
                    <p>(09)29 857 8974</p>
                </li>
                <li class="d-flex align-items-center pl-2 py-2">
                    <img src="https://img.icons8.com/material-rounded/24/000000/filled-sent.png" alt="">
                    <p>nearbuy@gmail.com</p>
                </li>
            </ul>
        </section>
        <section class="col-12 col-sm-12 col-lg d-flex flex-column align-items-center py-3">
            <p class="h4 text-und">Check our Social Media!</p>
            <ul class="list-unstyled d-flex h-100 align-items-center py-4 py-lg-0">
                <li class="mx-4 pt-1 pb-2 px-2  rounded-circle bg-white">
                    <img src="https://img.icons8.com/android/20/000000/twitter.png" alt="">
                </li>
                <li class="mx-4 pt-1 pb-2 px-2  rounded-circle bg-white">
                    <img src="https://img.icons8.com/android/20/000000/facebook-new.png" alt="">
                </li>
                <li class="mx-4 pt-1 pb-2 px-2  rounded-circle bg-white">
                    <img src="https://img.icons8.com/fluent-systems-filled/20/000000/instagram-new.png" alt="">
                </li>
            </ul>
        </section>
    </div>
    <div class="d-flex flex-column align-items-center pb-4">
        <p class="d-flex justify-content-center">Created with   <img src="https://img.icons8.com/color/30/000000/angularjs.png" alt="" class="ngImg mx-1"> Angular</p>
        <p>All rights reserved {{ c }}</p>
    </div>
</footer>