<div class="containter">
    <div class="Background d-flex justify-content-center align-items-center flex-column">
        <div class="title">
            <blockquote class="blockquote text-center">
                <h1>ABOUT NEAR BUY</h1>
            </blockquote>
        </div>
        <!-- Intro -->
        <div class="intro">
            <blockquote class="blockquote text-center">
                <h2>-We bring the store to your door-</h2>
            </blockquote>
        </div>
    </div>

    <!-- About -->
    <div id="about" class="section wb d-flex justify-content-center align-items-center">
        <div class="container">
            <h2>Meet the Founders!</h2>
            
                <div class="d-flex flex-row" id="founder">

                    <div class="about-box">
                        
                        <p> Near Buy is an online grocery delivery service, developed by a group of young Filipino
                            millennials,
                            that aims to ensure fast, convenient, and safe delivery of groceries right at your doorstep.
                            <br>
                            <br>
                            With more people stuck at home due to the Covid-19 outbreak, there has been a surge in
                            demand for food delivery services. Hevenn Fuerte and Rondel Hallare responded to the crisis
                            by introducing contactless delivery options to eliminate the risk of spreading the virus
                            while providing its customer's needs.
                        </p>
                    </div>
                    <div class="founder align-self-center">
                        
                            <img src="../../../assets/images/owner.jpg" alt="" class="img-rounded">
                        
                    </div>
                </div>
            
        </div>
    </div>
    <!--End of intro-->

    <!-- Our Mission-->
    <div class="Mission">
        <div class="text">
            <blockquote class="blockquote text-center">
                <img src="../../../assets/images/nb.png" id="logo">
                <h1>OUR MISSION</h1>
                <p class="desc mb-0">Our mission is to provide high quality daily essentials to every filipino through a
                    convenient, hassle free online system.
                    A system that makes us more effective each day and helps us live a stress free productive life
                    focusing more on our overall
                    well-being.
                </p>
            </blockquote>

            <ul class="list-unstyled d-flex justify-content-center">
                <div class="boxes d-flex flex-column">
                    <li class="media ">
                        <img class="mr-3" src="../../../assets/images/buyers.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Customer Satisfaction</h5>
                            <p>
                                Customer satisfaction is very important to us, we value your trust in our delivery system,
                                we ensure that our customers are satisfied with our service.
                            </p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img class="mr-3" src="../../../assets/images/grocery.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Wide Array of Products</h5>
                            <p>
                               Near Buy has a wide array of products for customers to choose from. Anything from Cleaning Products
                               to Canned goods, Near Buy has it for you.
                            </p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="mr-3" src="../../../assets/images/package.png" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Safe and Secured Delivery</h5>
                            <p>
                                Near Buy ensures that your orders are safely packed and be delivered to you safely and securely,
                                 while being fast and reliable. Our delivery are covers from PNPA to Muzon.
                            </p>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <!--Store Location-->
    <div class="location">
        <div class="loc">
            <h1>STORE LOCATION</h1>
            <section class="d-flex flex-row side-padding container-max-width pb-5" id="main-loc">
                <div
                    class="d-flex flex-column justify-content-center">
                    <div class="loc-box">
                        <h2>Address: </h2>
                        <p>
                            PutingKahoy Wet and Dry Market
                        </p>

                        <p>
                           You can locate our store near the Sta Rosa. Heights Subdivision, just past the Adventist
                           University of the Philippines.
                        </p>
                    </div>
                </div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d966.938521610279!2d121.02506368360623!3d14.209172269993829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd7c67025898b7%3A0xf9a2d9b9501c4e01!2sPuting%20Kahoy%20Wet%20and%20Dry%20Market!5e0!3m2!1sen!2sph!4v1619436265930!5m2!1sen!2sph"
                    allowfullscreen="" loading="lazy" class="google-maps"></iframe>
            </section>
        </div>
        <!--End of Loc-->
    </div>
</div>