@import "../../../styles.scss";

.container {
    font-family: $oswald;
    scroll-behavior: smooth;
}
.Background  {
    background: url(../../../assets/images/about-us.jpg) center;
    background-repeat: no-repeat;
    height: 100vh;
        @media screen and(max-width: 1024px) {
            height: 90vh;
            @media screen and (max-width: 769px){
                max-width: 100%;
                @media screen and(max-width:375px){
                    height: 100vh;
            } 
        }
    }

}
.title  {
    font-family: $oswald;
    color: $primary-color;
    margin-top: 50px;
    h1 {
        text-align: center;
        font-size: 8rem;
        text-shadow: 2px 2px white;
        @media screen and(max-width: 1025px) {
            font-size: 7rem;
            @media screen and(max-width: 769px) {
                font-size: 6rem;
                @media screen and(max-width: 426px) {
                    font-size: 3rem;
                }
            }
        }
    }

}

.intro {
    font-family: $oswald;
    margin: 30px;
    padding-bottom: 10px;
    h2 {
        font-style: italic;
        color: $primary-color;
        text-align: center;
        font-size: 2.5rem;
        @media screen and(max-width: 1080px)  {
            font-size: 2rem;
            @media screen and(max-width: 769px) {
                font-size: 1.7rem;
                @media screen and(max-width: 426px) {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

//about section
#about {
    color:black;
    position: relative;
    height: 100vh;
    @media screen and(max-width: 1025px){
        height: unset;
    } 
}

.section{
    // margin-left: -150px;
    // padding-bottom: 10vh;
    h2 {
        background-color: white; 
        border-style: solid;
        border-radius: 20px; 
        border-width: 2px;
        border-color: black;
        margin: 8px;
        margin-top: 40px;
        padding: 10px;
        color: $primary-color;
        font-size: 3rem;
        text-align: center;
        box-shadow: 8px 10px rgb(0 0 0 / 50%);
        @media screen and (max-width: 1025px) {
            margin-bottom: 40px;
            @media screen and (max-width: 769px) {
                margin-bottom: 40px;
                font-size: 2rem;
            }
        }
    }
    
}

.about-box {
    p {
        background-color: $primary-color-light;
        border-style: solid;
        border-radius: 20px;
        border-width: 2px; 
        margin: 8px;
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: 23px;
        padding-top: 10px;
        padding: 35px;
        position: relative;
        text-align: justify;
        box-shadow: 8px 10px rgb(0 0 0 / 50%);
        @media screen and(max-width: 769px) {
            font-size: 20px;
            @media screen and(max-width: 426px) {
                font-size: 16px;
                @media screen and(max-width: 376px) {
                    padding: 18px;
                }
            }
        }
    }       
}


#founder{
    column-gap: 3rem;
    @media screen and(max-width: 1025px) {
        flex-direction: column-reverse!important;
    }
}

    .founder{
        text-align: center;
        width: 100%;
        .img-rounded{
            width: 22rem;
            margin-right: 1rem;
            box-shadow: 8px 10px rgb(0 0 0 / 50%);
            @media screen and(max-width: 426px) {
                width: 17rem;
                @media screen and(max-width: 376px) {
                    width: 14rem;
                }
            }
        }
    }
//Mission

.Mission {
    font-family: $oswald;
    background-color: $primary-color-light;
    padding: 3vh 3rem 6vh;
    @media screen and(max-width: 426px) {
        padding: 3vh 1rem 6vh;
    }
}

.text {
    h1 {
        font-size: 4.5rem;
        text-shadow: 5px 5px white;
        margin-top: -30px;
        @media screen and(max-width: 426px) {
            font-size: 2.5rem;
        }
    }


    p {
        font-size: 1.8vw;
        padding-bottom: 3vh;
        @media screen and(max-width: 1080px) {
            font-size: 1.5rem;
            @media screen and(max-width: 426px) {
                font-size: 1.3rem;
                @media screen and(max-width: 321px) {
                    font-size: 1.1rem;
                }
            }
        }
    }

    img {
        width: 12%;
        @media screen and(max-width: 769px) {
            width: 20vw;
            margin: 1rem;
            @media screen and(max-width: 426px) {
                width: 40vw;
            }
        }
    }

    .desc{
        padding: 0rem 15rem 2rem 15rem;
        @media screen and(max-width: 1025px) {
            padding: 0rem 6rem 2rem 6rem;
            @media screen and(max-width: 426px) {
                padding: 1rem;
            }
        }
    }
}

.media {
    font-family: $oswald;
    margin-left: 5vh;
    @media screen and(max-width: 426px) {
        margin-left: unset;
        flex-direction: column;
        align-items: center;
    }
        
}

.media-body {
    h5 {
        font-size: 2rem;
        @media screen and(max-width: 1080px) {
            font-size: 2rem;
            @media screen and(max-width: 426px) {
                text-align: center;
            }
        }
    }
    p {
        font-size: 1.5rem;

        @media screen and(max-width: 1080px) {
            font-size: 1.2rem;
            @media screen and(max-width: 321px) {
                font-size: 1rem;
            }
        }
    }
}

.boxes {
    padding: 8px;
    padding-top: 3vh;
    font-family: $oswald;
    background: rgba(159, 225, 157, 0.5);
    width: 140vh;
    box-shadow: 8px 10px rgba(0, 0, 0, 0.5);
    border-left: 6px solid;
    border-color: $primary-color;
    border-radius: 20px;


}

//store Location
#main-loc{
    align-items: center;
    padding: 0rem 3rem;
    @media screen and (max-width: 1026px) {
        flex-direction: column!important;
        @media screen and(max-width: 426px) {
            padding: unset;
        }
    }
    
}
.location {
    text-align: justify;
    background-color: $primary-color;
    font-family: $oswald;
}

.loc {
    h1 {
        padding-top: 3vh;
        padding-bottom: 3vh;
        color: white;
        text-align: center;
        font-size: 4rem;
        text-shadow: 5px 5px black;
        @media screen and(max-width: 426px) {
            font-size: 3rem;
            @media screen and(max-width: 375px) {
                font-size: 2rem;
            }
        }
    }
}

.loc-box {
    padding-top: 8px;
    background: white;
    box-sizing: 10px;
    box-shadow: 8px 10px rgba(0, 0, 0, 0.5);
    border-left: 6px solid;
    border-color: $primary-color;
    border-radius: 20px;
    @media screen and(max-width: 769px) {
        margin-left: 1vh;
        margin-right: 2vh;
    }
    h2 {
        margin: 8px;
        padding: 6px;
        color: black;
        font-size: 1.5rem;
        @media screen and(max-width: 375px) {
            font-size: 1.3rem;
        }
    }
    p {
        margin: 5px;
        font-size: 23px;
        padding-top: 10px;
        padding: 8px;
        @media screen and(max-width: 769px) {
           font-size: 1.3rem;
           @media screen and(max-width: 376px) {
            font-size: 1rem;
         }
        }
    }
}
.google-maps{
    width: 65%;
    height: 28vh;
    margin: 50px;
}


