<div class="containter">
    <div class="Background">
        <img src="../../../assets/images/test.jpg" alt="About-us-bg">
        <div class="Header">
            <h1>ABOUT NEAR BUY</h1>
        </div>
        <!-- Intro -->
        <div class="intro">
            <h2>Near Buy aims to provide quaility delivery service, ensuring that the package is safe and secured. To deliver excellence.</h2>
        </div>
    </div>

    <!-- About -->
    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-box">
                        <h2>Owners</h2>
                        <p> Hevenn Fuerte and Rondel Hallare are the founders of Near Buy.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam error ducimus autem sint
                            quis suscipit? Saepe inventore corporis maiores! Ducimus fuga reprehenderit iure ipsum nobis
                            aliquid ipsa enim voluptatem corrupti? </p>


                    </div><!-- end about-box -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="../../../assets/images/owner.jpg" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>