@import "../../../styles.scss";

.navi{
    background: url('../../../assets/images/Navigation.jpg');
    height: 75px;
    width: 100%;
}

.navi a{
    text-align: center;
    padding-left: 40px;
    font-size: 21px;
    color: black;
    font-family: $oswald;
}

.nblogo{
    height: 100px;
    padding-left: 5px;
    display: inline;
}

.nbltext{
    height: 79px;
    padding-bottom: 18px;
    margin-right: 450px;
    display: inline;
}

.cart{
    height: 32px;
    padding-left: 550px;
}

.button{
    border:none;
    color: white;
    text-align: center;
    padding: 6px 25px;
    margin: 10px;
    border-radius: 50px;
    font-family: $oswald;
}

.button1 {
    background-color: $primary-color;
}

@media (max-width: 1880px) { 
    
.navi a{
    text-align: center;
    padding-left: 40px;
    font-size: 21px;
    color: black;
    font-family: $oswald;
}

.nblogo{
    height: 100px;
    padding-left: 5px;
    display: inline;
}

.nbltext{
    height: 79px;
    padding-bottom: 18px;
    margin-right: 450px;
    display: inline;
}

.cart{
    height: 32px;
    padding-left: 500px;
}

.button{
    border:none;
    color: white;
    text-align: center;
    padding: 6px 25px;
    margin: 10px;
    border-radius: 50px;
    font-family: $oswald;
    }
}

@media(min-width: 1700px) and (max-width: 1870px){
      
    .navi a{
        text-align: center;
        padding-left: 40px;
        font-size: 21px;
        color: black;
        font-family: $oswald;
    }
    
    .nblogo{
        height: 100px;
        padding-left: 5px;
        display: inline;
    }
    
    .nbltext{
        height: 79px;
        padding-bottom: 18px;
        margin-right: 340px;
        display: inline;
    }
    
    .cart{
        height: 32px;
        padding-left: 340px;
    }
    
    .button{
        border:none;
        color: white;
        text-align: center;
        padding: 6px 25px;
        margin: 10px;
        border-radius: 50px;
        font-family: $oswald;
        }
}

@media(min-width: 1600px) and (max-width: 1700px){
    
    .navi a{
    text-align: center;
    padding-left: 40px;
    font-size: 21px;
    color: black;
    font-family: $oswald;
}

.nblogo{
    height: 100px;
    padding-left: 5px;
    display: inline;
}

.nbltext{
    height: 79px;
    padding-bottom: 18px;
    margin-right: 340px;
    display: inline;
}

.cart{
    height: 32px;
    padding-left: 340px;
}

.button{
    border:none;
    color: white;
    text-align: center;
    padding: 6px 25px;
    margin: 10px;
    border-radius: 50px;
    font-family: $oswald;
    }
}


@media (min-width: 1500px) and (max-width: 1600px){ 
    
    .navi a{
        text-align: center;
        padding-left: 40px;
        font-size: 21px;
        color: black;
        font-family: $oswald;
    }
    
    .nblogo{
        height: 100px;
        padding-left: 5px;
        display: inline;
    }
    
    .nbltext{
        height: 79px;
        padding-bottom: 18px;
        margin-right: 280px;
        display: inline;
    }
    
    .cart{
        height: 32px;
        padding-left: 250px;
    }
    
    .button{
        border:none;
        color: white;
        text-align: center;
        padding: 6px 25px;
        margin: 10px;
        border-radius: 50px;
        font-family: $oswald;
        }
    }

@media (min-width: 1400px) and (max-width: 1500px) { 
    
    .navi a{
        text-align: center;
        padding-left: 40px;
        font-size: 21px;
        color: black;
        font-family: $oswald;
    }
    
    .nblogo{
        height: 100px;
        padding-left: 5px;
        display: inline;
    }
    
    .nbltext{
        height: 79px;
        padding-bottom: 18px;
        margin-right: 250px;
        display: inline;
    }
    
    .cart{
        height: 32px;
        padding-left: 250px;
    }
    
    .button{
        border:none;
        color: white;
        text-align: center;
        padding: 6px 25px;
        margin: 10px;
        border-radius: 50px;
        font-family: $oswald;
        }
    }

    
    @media(min-width: 1230px) and (max-width: 1400px){
        
        .navi{
            background: url('../../../assets/images/Navigation-mob.jpg');
            height: 75px;
            width: 100%;
        }
    
        .navi a{
            text-align: center;
            padding-left: 20px;
            font-size: 21px;
            color: black;
            font-family: $oswald;
        }
        
        .nblogo{
            height: 100px;
            padding-left: 5px;
            display: inline;
        }
        
        .nbltext{
            height: 79px;
            padding-bottom: 18px;
            margin-right: 200px;
            display: inline;
        }
        
        .cart{
            height: 32px;
            padding-left: 220px;
        }
        
        .button{
            border:none;
            color: white;
            text-align: center;
            padding: 6px 25px;
            margin: 7px;
            border-radius: 50px;
            font-family: $oswald;
            }
    }


    @media(min-width: 1050px) and (max-width: 1230px){
        
        .navi{
            background: url('../../../assets/images/Navigation-mob.jpg');
            height: 75px;
            width: 100%;
        }
    
        .navi a{
            text-align: center;
            padding-left: 20px;
            font-size: 21px;
            color: black;
            font-family: $oswald;
        }
        
        .nblogo{
            height: 100px;
            padding-left: 5px;
            display: inline;
        }
        
        .nbltext{
            height: 79px;
            padding-bottom: 18px;
            margin-right: 200px;
            display: inline;
        }
        
        .cart{
            height: 32px;
            padding-left: 220px;
        }
        
        .button{
            border:none;
            color: white;
            text-align: center;
            padding: 6px 25px;
            margin: 7px;
            border-radius: 50px;
            font-family: $oswald;
            }
    }


    @media(max-width: 1024px){ 

        .navi{
            background: url('../../../assets/images/Navigation-mob.jpg');
            height: 75px;
            width: 100%;
        }
    
        .navi a{
            text-align: center;
            padding-left: 20px;
            font-size: 21px;
            color: black;
            font-family: $oswald;
        }
        
        .nblogo{
            height: 100px;
            padding-left: 5px;
            display: inline;
        }
        
        .nbltext{
            height: 79px;
            padding-bottom: 18px;
            margin-right: 140px;
            display: inline;
        }
        
        .cart{
            height: 32px;
            padding-left: 100px;
        }
        
        .button{
            border:none;
            color: white;
            text-align: center;
            padding: 6px 25px;
            margin: 7px;
            border-radius: 50px;
            font-family: $oswald;
            }
        }

        @media(min-width: 860px) and (max-width: 1000px){
            .navi{
                background: url('../../../assets/images/Navigation-mob-1.jpg');
                height: 75px;
                width: 100%;
            }
        
            .navi a{
                text-align: center;
                padding-left: 20px;
                font-size: 21px;
                color: black;
                font-family: $oswald;
            }
            
            .nblogo{
                height: 100px;
                padding-left: 5px;
                display: inline;
            }
            
            .nbltext{
                height: 79px;
                padding-bottom: 18px;
                margin-right: 60px;
                display: inline;
            }
            
            .cart{
                height: 32px;
                padding-left: 30px;
            }
            
            .button{
                border:none;
                color: white;
                text-align: center;
                padding: 6px 25px;
                margin: 7px;
                border-radius: 50px;
                font-family: $oswald;
                }
            }
        

@media (max-width: 768px) { 
    .navi{
        background: url('../../../assets/images/Navigation-mob-1.jpg');
        height: 75px;
        width: 100%;
    }

    .navi a{
        text-align: center;
        padding-left: 13px;
        font-size: 21px;
        color: black;
        font-family: $oswald;
    }
    
    .nblogo{
        height: 100px;
        padding-left: 5px;
        display: inline;
    }
    
    .nbltext{
        height: 79px;
        padding-bottom: 18px;
        margin-right: 30px;
        display: inline;
    }
    
    .cart{
        height: 32px;
        padding-left: 10px;
    }
    
    .button{
        border:none;
        color: white;
        text-align: center;
        padding: 6px 25px;
        border-radius: 50px;
        font-family: $oswald;
        }
    }
