<div class="navi">
    <ul>
        <a routerLink="home">
        <img src="../../../assets/images/nb.png" alt="logo" class="nblogo">
        <img src="../../../assets/images/NearBuy.png" alt="logo" class="nbltext"></a>
        <a routerLink="categories">Store</a>
        <a routerLink="how-it-works">How it works?</a>
        <a routerLink="about-Us">About Us</a>
        <a routerLink="contact-Us">Contact Us</a>
        <a routerLink="cart">
            <img src="../../../assets/images/Cart.png" alt="cart" class="cart"></a>
        <button class="button button1">Track Order</button>
    </ul>
  </div>