<div class="navi">
    <ul>
        <a href="home">
        <img src="../../../assets/images/nb.png" alt="logo" class="nblogo">
        <img src="../../../assets/images/NearBuy.png" alt="logo" class="nbltext"></a>
        <a href="store">Store</a>
        <a href="htw">How it works?</a>
        <a href="aboutUs">About Us</a>
        <a href="aboutUs">Contact Us</a>
        <a href="cart">
            <img src="../../../assets/images/Cart.png" alt="cart" class="cart"></a>
        <button class="button button1">Track Order</button>
    </ul>
  </div>