<div class="navigation-component row align-items-center container-max-width">
    <section class="col-5 col-md-3 col-lg-3 h-100 position-relative pl-md-5 pl-3">
        <a routerLink="/" class="d-flex align-items-center h-100">
            <img src="../../../assets/images/nb.png" alt="logo" class="w-auto mt-4 d-none d-sm-block carImage" (click)="addSecret()"/>
            <img src="../../../assets/images/NearBuy.png" alt="logo" class="w-auto  ml-1 textImage"/>
        </a>
        <div class="line position-absolute w-25 bg-dark my-auto"></div>
    </section>
    <section class="col-md-6 col-lg-6 d-none d-md-flex justify-content-center">
        <a routerLink="/categories" routerLinkActive="service-box" class="text-decoration-none font-weight-normal text-dark h5 px-1 px-lg-4">Store</a>
        <a routerLink="/how-it-works" routerLinkActive="service-box" class="text-decoration-none font-weight-normal text-dark h5 px-1 px-lg-4">How it works?</a>
        <a routerLink="/about-us" routerLinkActive="service-box" class="text-decoration-none font-weight-normal text-dark h5 px-1 px-lg-4">About Us</a>
        <a routerLink="/contact-us" routerLinkActive="service-box" class="text-decoration-none font-weight-normal text-dark h5 px-1 px-lg-4">Contact Us</a>
        <a routerLink="/orders"routerLinkActive="service-box" class="text-decoration-none font-weight-normal text-dark h5 px-1 px-lg-4" *ngIf="this.secret >= 20">Order List</a>
    </section>
    <section class="col-7 col-md-3 col-lg-3 d-flex justify-content-end align-items-center pr-md-5 pr-3">
        <a routerLink="/cart" class="order-2 order-md-1">
            <img src="../../../assets/images/Cart.png" alt="cart" class="pr-3 cartImg"/>
        </a>
        <div class="btn-group testMe d-md-none d-sm-block  order-3">
            <img src="https://i.ibb.co/hKpDfDS/Group-4.png"  class="btn  " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu dropdown-menu-right mt-4 text-center">
                <a class="dropdown-item" routerLink="/store" class="text-decoration-none text-dark font-weight-normal p-0">Store</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/how-it-works">How it works?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/about-us">About Us?</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/contact-us">Contact Us?</a>
                <button class="d-down-button d-inline-block d-sm-none" routerLink="/track">Track Order</button>
            </div>
        </div>
        <a routerLink="/track" class="order-1 order-md-2 d-none d-md-block">
            <button routerLink="/track" class="py-2 px-3 rounded text-white border-0">Track Order</button>
        </a>
    </section>
</div>