.btn{
    width: 50%;
    color: white;
}
.otw{
    background-color: rgb(214, 214, 2);
}
.delivered{
    background-color: rgb(2, 175, 2);
}
table{
    border: 1px solid black;
}
th,td{
    border:1px solid black;
    border-style: dashed;
    font-size: 1.3rem;
}
th{
    background-color: #79BC77;
    color: white;
}
.tablecon{
    width: 40%;
}