@import "../../../styles.scss";

.how-it-works-component{
    min-height: calc(100vh - 80px);
    section{
        &:nth-child(1){
            @media screen and (max-width: 576px) {
            }
            h1{
                padding: 20px;
                font-size: 4rem;
            }
            ul{
                @media screen and (max-width: 576px) {
                    width: 100% !important;
                }
                li:nth-child(odd) {
                    @media screen and(max-width: 575px) {
                        padding-top: 10px;
                    }
                    &:nth-child(1){
                        &::after{
                            content:'1';
                        }
                    }
                    &:nth-child(3){
                        &::after{
                            content:'3';
                        }
                    }
                    &::before{
                        content:'\00a0';
                        position: absolute;
                        left:0;
                        top: 0;
                        transform: translate(100%, 7%);
                        background: #BFBFBF;
                        height: 43%;
                        width: 3px;
                        z-index: 2;
                        @media screen and(max-width: 575px) {
                            padding: 0;
                            height: 5px;
                            width: 50%;
                            transform: translate(0%,0%);
                        }
                    }
                    &::after{
                        position: absolute;
                        left:0;
                        top: 0;
                        transform: translate(0%, -70%);
                        @media screen and(max-width: 575px) {
                            transform: translate(-150%, -45%);
                        }
                    }
                }
                li:nth-child(even) {
                    padding-top: 200px;
                    @media screen and(max-width: 575px) {
                        padding-top: 15px;
                        padding-left: 50%;
                        text-align: right;
                    }
                    &:nth-child(2){
                        &::after{
                            content:'2';
                        }
                    }
                    &:nth-child(4){
                        &::after{
                            content:'4';
                        }
                    }
                    &::before{
                        content:'\00a0';
                        position: absolute;
                        left:0;
                        bottom: 0;
                        transform: translate(100%, -7%);
                        background: #BFBFBF;
                        height: 43%;
                        width: 3px;
                        z-index: 2;
                        @media screen and(max-width: 575px) {
                            padding: 0;
                            left: 50%;
                            top: 0;
                            height: 5px;
                            width: 50%;
                            transform: translate(0%,200%);
                        }
                    }
                    &::after{
                        position: absolute;
                        left:0;
                        bottom: 0;
                        transform: translate(-17%, 70%);
                        @media screen and(max-width: 575px) {
                            left: unset;
                            right: 0;
                            transform: translate(160%, -195%);
                        }
                    }
                }
                .time{
                    top: 0;
                    bottom: 0;
                    height: 5px;
                    z-index: 2;
                    background-color: $primary-color;
                    @media screen and(max-width: 575px) {
                        content: '\2304';
                        height: 110%;
                        width: 5px !important;
                        left: 0;
                        right: 0;
                    }
                    &::before{
                        content: '>';
                        position: absolute;
                        right: 0;
                        font-size: 50px;
                        color: $primary-color;
                        transform: translate(10%, -57%);
                        @media screen and(max-width: 575px) {
                            content: '\2304';
                            bottom: 0;
                            left: 0;
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 70px;
                            transform: translate(-335%, 5%);
                            display: none;
                        }
                    }
                }
            }
        }
        &:nth-child(2){
            .text-size{
                font-size: 1.2rem;
            }
        }
    }
}