<!-- <img src="https://i.ibb.co/SNBCXtM/Frame-1.png" onerror='this.onerror = null; this.src="../../../assets/images/not-found.jpg"'/> -->
<div class="user-select-none d-flex flex-column how-it-works-component">
    <section class="flex-grow-1 d-flex flex-column justify-content-center align-items-center relative  px-5">
        <h1>Step by <span class="d-block d-sm-inline">step guide</span></h1>
        <ul class="row list-unstyled position-relative my-5 my-sm-3 p-2 p-sm-0 w-75">
            <li class="col-12 col-sm my-2 pl-0 pl-sm-3 h6 position-relative">Start filling <span class="d-block d-sm-inline">up your cart </span><span class="d-block">in the Store</span></li>
            <li class="col-12 col-sm my-2 pl-0 pl-sm-3 h6 position-relative">Fill up the <span class="d-block d-sm-inline">Payment Form</span></li>
            <li class="col-12 col-sm my-2 pl-0 pl-sm-3 h6 position-relative">Track your <span class="d-block d-sm-inline">order</span></li>
            <li class="col-12 col-sm my-2 pl-0 pl-sm-3 h6 position-relative">Enjoy your <span class="d-block d-sm-inline">Grocery!</span></li>
            <div class="position-absolute my-auto w-100 mx-auto mx-md-0 time"></div>
            <div class="arrow"></div>
        </ul>
    </section>
    <section class="container-max-width px-md-5 px-3 pb-5 pb-sm-0">
        <div class="d-flex flex-column justify-content-center py-2 py-sm-5 ">
            <p class="text-justify text-size">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse pellentesque eget tellus vel tempor. Suspendisse ac nibh id 
                tellus rutrum venenatis in sit amet ipsum. Quisque vel vehicula erat. Nulla 
                vestibulum elit et feugiat ornare. Proin quis eros ultrices odio tincidunt 
                egestas nec at massa. Phasellus ante erat, posuere eget odio id, luctus dapibus miv
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse pellentesque eget tellus vel tempor. Suspendisse ac nibh id 
                tellus rutrum venenatis in sit amet ipsum. Quisque vel vehicula erat. Nulla 
                vestibulum elit et feugiat ornare. Proin quis eros ultrices odio tincidunt 
                egestas nec at massa. Phasellus ante erat, posuere eget odio id, luctus dapibus miv
            </p>
        </div>
    </section>
</div>