<!-- <img src="https://i.ibb.co/SNBCXtM/Frame-1.png" onerror='this.onerror = null; this.src="../../../assets/images/not-found.jpg"'/> -->
<div class="user-select-none how-it-works-component">
    <section class="main-section position-relative">
        <p class="text-center font-weight-bold position-relative container-max-width h1 py-2 main-text">How our Website Works?</p>
    </section>
    <section class="d-flex justify-content-center relative container-max-width px-5">
        <ul class="row list-unstyled position-relative my-5 my-md-4 w-75">
            <li class="col-12 col-sm my-2 pl-0 pl-sm-3 h6 position-relative">Start filling <span class="d-block d-sm-inline">up your cart </span><span class="d-block">in the Store</span></li>
            <li class="col-12 col-sm my-2 pl-0 pl-sm-3 h6 position-relative">Fill up the <span class="d-block d-sm-inline">Payment Form</span></li>
            <li class="col-12 col-sm my-2 pl-0 pl-sm-3 h6 position-relative">Track your <span class="d-block d-sm-inline">order</span></li>
            <li class="col-12 col-sm my-2 pl-0 pl-sm-3 h6 position-relative">Enjoy your <span class="d-block d-sm-inline">Grocery!</span></li>
            <div class="position-absolute my-auto w-100 mx-auto mx-md-0 time"></div>
            <div class="arrow"></div>
        </ul>
    </section>
    <section class="row side-padding container-max-width pb-3  px-md-5 px-3">
        <div class="col-12 col-sm-6 order-last order-sm-first d-flex flex-column justify-content-center py-2 py-sm-5 pr-sm-5 pr-0">
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque eget tellus vel tempor. Suspendisse ac nibh id tellus rutrum venenatis in sit amet ipsum. Quisque vel vehicula erat. Nulla vestibulum elit et feugiat ornare. Proin quis eros ultrices odio tincidunt egestas nec at massa. Phasellus ante erat, posuere eget odio id, luctus dapibus miv</p>
            <p class="pt-3 pb-sm-3 pb-0 font-weight-bold">Location: Puting Kahoy Wet and Dry Market, Puting Kahoy, Silang, Cavite</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d966.938521610279!2d121.02506368360623!3d14.209172269993829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33bd7c67025898b7%3A0xf9a2d9b9501c4e01!2sPuting%20Kahoy%20Wet%20and%20Dry%20Market!5e0!3m2!1sen!2sph!4v1619436265930!5m2!1sen!2sph"
        allowfullscreen="" loading="lazy" class="col-12 col-sm-6 google-maps"></iframe>
    </section>
</div>