@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

$primary-color: #79BC77;
$hover-primary:#6aa668;
$primary-color-light: rgba(121, 188, 119, 0.3);
$gray-color: #C4C4C4;
$oswald: 'Oswald', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $oswald;
}

.toast-message{
    font-family: unset !important;
}

// .scroll-out-1440
.container-max-width {
    @media screen and(min-width: 1440px) {
        max-width: 1920px;
        margin: 0 auto;
    }
}
