.container1, .container2, .container3{
    background-color: #79BC77;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    .basket{
        margin-left: -20px;
        margin-top: 10px;
    }
    .truck{
        margin-top: 40px;
    }
    .check{
        margin-top: 40px;
        margin-left: 60px;
    }
}
.container1d, .container2d, .container3d{
    background-color: gray;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    .basket{
        margin-left: -20px;
        margin-top: 10px;
    }
    .truck{
        margin-top: 40px;
    }
    .check{
        margin-top: 40px;
        margin-left: 60px;
    }
}
label{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.empty-cart{
    text-align: center;
    padding: 10% 0;
    h1{
        margin-bottom: 2vmin;
        font-size: 4.5vmin;
    }
    h2{
        margin-bottom: 4vmin;
        font-size: 3.5vmin;
    }
}
.mglass-img{
    width: 30vmin;
}
.store-button{
    border:none;
    color: white;
    background-color:#79BC77;
    text-align: center;
    padding: 10px 60px;
    border-radius: 50px;
    font-size: 3vmin;
}
.btn{
    background-color: red;
    width: 40%;
    color: white;
}
table{
    border: 1px solid black;
}
th,td{
    border:1px solid black;
    border-style: dashed;
}
th{
    background-color: #79BC77;
    color: white;
}