<div class="track-component container-max-width d-flex flex-column">
    <p class="text-center">Tracking your Order 
        <span class="d-block "># order number</span>
    </p>
    <div class="status-line d-flex justify-content-center align-items-center flex-grow-1">
        <section class="d-flex justify-content-center align-items-center">
            <img src="https://i.ibb.co/nnd52ZD/Shopping-B-1.png" alt="" class="">
        </section>
        <section class="d-flex justify-content-center align-items-center">
            <img src="https://i.ibb.co/0nRzKXD/Delivery-Logo-1.png" alt="" class="">
        </section>
        <section class="d-flex justify-content-center align-items-center">
            <img src="https://i.ibb.co/j3Q77Bt/11-118415-check-logo-png-clip-art-royalty-free-stock-1.png" alt="" class="">
        </section>
        <div class="line"></div>
    </div>
</div>