.container1, .container2, .container3{
    background-color: #79BC77;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    .basket{
        margin-left: -20px;
        margin-top: 10px;
    }
    .truck{
        margin-top: 40px;
    }
    .check{
        margin-top: 40px;
        margin-left: 60px;
    }
}
.container1d, .container2d, .container3d{
    background-color: gray;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    .basket{
        margin-left: -20px;
        margin-top: 10px;
    }
    .truck{
        margin-top: 40px;
    }
    .check{
        margin-top: 40px;
        margin-left: 60px;
    }
}
label{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
h4{
    color: rgb(66, 66, 66);
}